.formContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.loginForm {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 400px;
  padding: 40px 40px 30px 40px;
  margin-top: 12%;
}
.loginFormButton {
  width: 100%;
}
.forgotSection {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}
:global .ant-upload-list-item {
  display: none;
}

.calendar {
  border: 1px solid #f0f0f0;
  border-radius: 2px;
  overflow-y: scroll;
  height: 30rem;
}
.events {
  margin: 0;
  padding: 0;
  list-style: none;
}
.events .ant-badge-status {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.notesMonth {
  font-size: 28px;
  text-align: center;
}
.notesMonth section {
  font-size: 28px;
}
